resources/dataset/Audio
resources/dataset/Annotations/*.csv
resources/dataset/Annotations/Un-processed
resources/dataset/Scream\ Detection\ Dataset/*
resources/dataset/Sonic\ Visualizer\ Files/*
resources/dataset/YTDownloads
resources/dataset/youtube-dl\ command.txt
Instrument-classification
resources/dataset/Annotations/processed/
resources/dataset/Annotations/labelled/
resources/dataset/Annotations/timestamps/
resources/dataset/Annotations/Un-processed/
/KNN/input